
<ion-content padding class="masters">
  <img class="startLogo" src="assets/images/logo.png">
  <br>
  <h1>Passwort Vergessen?</h1>
  <h5>Willkommen bei Energ.io</h5>
  <br>
  <img class="icon" src="assets/images/icon1.png">
  <br>
  <ion-input class="input1" type="email" placeholder="Email:"></ion-input>
  <br>
  <ion-button class="btn">PASSWORT ANDERN</ion-button>
  <br>
  <p class="para">DU HAST BEREITS EINEN ACCOUNT? <a class="aaa" routerLink="/login">LOG IN</a></p>
  <p class="para">NOCH KEINEN ACCOUNT? <a class="aaa" routerLink="/registeration">JETZT REGISTRIEREN</a></p>
</ion-content>
