ion-menu-button{
    color: #8ACE6A !important;
    position: relative;
    left: 10px;
}

#header{
    position: relative;
    top: -8px;
    width: 100% !important;
    height: 70px !important;
    background: #FBFCFC;
}
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-toolbar{
    --background: #FBFCFC;
    margin-top: 10px;
}

ion-title{
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
    font-weight: lighter;
    color: #888888;
    font-size: 1.6em;
}

#header > h4{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #888888;
}    

.container {
    display: block;
    width: 100%;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
    
    .scroll {
      overflow: auto;
    }
  }

.item{
    display: inline-block;
    margin-left: 20px;
    border: 1px solid rgba(136,136,136,0.2);
    box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.2);
    outline: none;
}

.item > img{
    width: 170px !important;
    height: 100px;
}

.item h3{
    color: green;
    font-weight: 100;
    opacity: 0.7;
    margin-left: 15px;
}

.item h5{
    color: #888888;
    font-size: 0.9em;
    margin-top: -10px;
    margin-left: 15px;
}

.checks-div{
    background: white;
    height: 60px;
    width: 95%;
    margin-top: 25px;
    margin: 11px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 }

 .checkbox{
    color:rgb(136, 136, 136);
    font-weight: bolder;
    font-size: 1.2em;
    position: relative;
    top: 20px;
    left: 20px;
 }

 .checkbox-para{
    margin-top: 20px;
    position: relative;
    left: 50px;
    font-weight: lighter;
    color: #888888;
 }

 .btn{
    font-weight: bold;
    height: 60px;
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    --border-radius: 2px !important;
    --background: rgba(96,213,53);
}

.endDocs{
    display: block;
    margin-left: 10%;
}

.doc1{
    display: inline-block;
}

.doc1 span{
    position: relative;
    bottom: 20px;
    color: #888888;
    font-size: 0.9em;
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.doc2{
    display: inline-block;
}

.doc2 span{
    position: relative;
    bottom: 20px;
    color: #888888;
    font-size: 0.9em;
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}