<ion-header>
  <div id="header">
    <ion-toolbar>
      <ion-title>
        Vertage:
      </ion-title>
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>

  

  <div class="body">

    <div class="container">
      <div class="scroll" scrollY="true">
        <div class="item" routerLink="/dashboard/invest">
          <img src="assets/images/product1.png" alt="">
          <h3>CD-34TRZ</h3>
          <h5>Investment: 5300 &euro;</h5>
          <h5>Laufet: 82 Tabs</h5>
        </div>
        <div class="item" routerLink="/dashboard/invest">
          <img src="assets/images/product2.png" alt="">
          <h3>CD-34TRZ</h3>
          <h5>Investment: 5300 &euro;</h5>
          <h5>Laufet: 82 Tabs</h5>
        </div>
        <div class="item" routerLink="/dashboard/invest">
          <img src="assets/images/product3.png" alt="">
          <h3>CD-34TRZ</h3>
          <h5>Investment: 5300 &euro;</h5>
          <h5>Laufet: 82 Tabs</h5>
        </div>
        <div class="item" routerLink="/dashboard/invest">
          <img src="assets/images/product2.png" alt="">
          <h3>CD-34TRZ</h3>
          <h5>Investment: 5300 &euro;</h5>
          <h5>Laufet: 82 Tabs</h5>
        </div>
      </div>

    </div>

    <br>
    <div class="checks-div">
      <ion-row>
        <ion-icon name="radio-button-on" class="checkbox"></ion-icon>
        <p class="checkbox-para" text-wrap>Leistung:&nbsp; &nbsp; &nbsp;1,000 Watt</p>
      </ion-row>
    </div>
    <div class="checks-div">
      <ion-row>
        <ion-icon name="radio-button-on" class="checkbox"></ion-icon>
        <p class="checkbox-para" text-wrap>Ibetriebnahme:&nbsp; &nbsp; &nbsp;29, Januar 2019</p>
      </ion-row>
    </div>
    <div class="checks-div">
      <ion-row>
        <ion-icon name="radio-button-on" class="checkbox"></ion-icon>
        <p class="checkbox-para" text-wrap>Vertragsablaufdatum:&nbsp; &nbsp; &nbsp;28, Januar 2021</p>
      </ion-row>
    </div>
    <div class="checks-div">
      <ion-row>
        <ion-icon name="radio-button-on" class="checkbox"></ion-icon>
        <p class="checkbox-para" text-wrap>Zahlungsmethode:&nbsp; &nbsp; &nbsp;SOFORT</p>
      </ion-row>
    </div>

    <div class="endDocs">
      <div class="doc1">
        <img src="assets/images/doc.png" alt=""><span>Anlagebedingungen</span>
      </div>
      <div class="doc2">
          <img src="assets/images/doc.png" alt=""><span>Darlehensvertrag</span>
      </div>
    </div>

    <br>
    <ion-button class="btn" routerLink="/dashboard/menu">ZUM DASHBOARD</ion-button>

  </div>

</ion-content>