<ion-content padding>

    <img class="startLogo" src="assets/images/logo.png" alt="" >
    <h1>Log In</h1>
    <h5>Willkommen bei Energ.io</h5>
    <h5 style="margin-top: -10px;">der Plattform für erneuerbare Energian</h5>
    <br>
    <br>
    <ion-input  placeholder="Email"></ion-input>
    <br>
    <ion-input  placeholder="Passwort" type="password"></ion-input>
    <br>
    <ion-button routerLink="/dashboard/home" >LOG IN</ion-button>
    <br>
     <br>
    <a style="margin-top: -10px;" routerLink="/forgot-password">PASSWORT VERGESSEN?</a>
    <br>
    <p>
      NOCH KEINEN ACCOUNT?<strong routerLink="/registeration"> JETZT REGISTRIEREN!</strong>
    </p>
</ion-content>
