<ion-header>
    <ion-toolbar class="new-background-color">
      <ion-title>
        Profil:
      </ion-title>
      <br>
      <br>
      <ion-buttons>
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="masters">
    <table>
      <thead>
        <th>
          <div class="item1">
            <img class="center" src="assets/images/avatar3.png">       
          
          </div>
        </th>
        <th>
          <p class="para1">Patric Pfortner</p>
          <p class="para2">New York, NY</p>
          <ion-button class="btn">BEARBEITEN</ion-button>
        </th>
      </thead>
    </table>
  
    <div no-padding class="Info-div">
      <table>
        <thead>
          <th>
            <h6 class="head">3</h6>
            <p class="head-para">Vertrage</p>
          </th>
          <hr class="hr">
          <th>
            <h6 class="head">7.350 $</h6>
            <p class="head-para">Investitionssumme</p>
          </th>
          <hr class="hr">
          <th>
            <h6 class="head">326</h6>
            <p class="head-para">Partner</p>
          </th>
        </thead>
      </table>
    </div>
     <ion-row padding>
        <p style="color:rgb(134, 130, 130); font-size:15px; font-weight: 100">Persönliche Informationen:</p>
      
        <ion-icon style="position: relative; left:130px; margin-top:15px;color:rgb(134, 130, 130)" name="arrow-down"></ion-icon>
   
     </ion-row>
     <ion-row>
        <ion-input class="input1" type="text" placeholder="Vornamen:"></ion-input>
        <ion-input class="input1" type="text" placeholder="Nachnamen:"></ion-input>
     </ion-row>
     <ion-row>
        <ion-input class="input2" type="text" placeholder="Adresse:"></ion-input>
     </ion-row>
     <ion-row>
        <ion-input class="input2" type="text" placeholder="PLZ,Stadt:"></ion-input>
     </ion-row>
     <ion-row>
        <ion-input class="input2" type="text" placeholder="Land:"></ion-input>
     </ion-row>
     <ion-row>
        <ion-input class="input2" type="text" placeholder="Geb. Datum:"></ion-input>
     </ion-row>
     <ion-row>
        <ion-input class="input2" type="number" placeholder="Telefon:"></ion-input>
     </ion-row>
     <ion-row>
        <ion-input class="input2" type="email" placeholder="Email:"></ion-input>
     </ion-row>
     <ion-row>
        <p style="color:rgb(134, 130, 130); font-size:15px; font-weight: 100; margin:10px;margin-top:20px;">Bankinformationen:</p>
      
        <ion-icon style="position: relative; left:130px; margin-top:15px;color:rgb(134, 130, 130)" name="arrow-down"></ion-icon>
     </ion-row>
     <ion-row>
        <ion-input class="input1" type="text" placeholder="IBAN:"></ion-input>
     </ion-row>
     <ion-row>
        <ion-input class="input2" type="text" placeholder="Paypal:"></ion-input>
     </ion-row>
  
     <div class="checks-div">
       <ion-row>
        <ion-checkbox class="checkbox" checked="true"></ion-checkbox>
        <p class="checkbox-para">Newsletter erhalten ?</p>
      </ion-row>
     </div>
  
     <div class="checks-div">
        <ion-row>
         <ion-checkbox class="checkbox" checked="true"></ion-checkbox>
         <p class="checkbox-para">Tägliche Stromergebnisse per Email?</p>
       </ion-row>
      </div>
  
      <ion-button class="btn1" routerLink="/dashboard/menu">ZUM DASHBOARD</ion-button>
  </ion-content>
  