
<ion-content padding class="masters">

<img class="startLogo" src="assets/images/logo.png">
<br>
<h1>REGISTRIEREN</h1>
<h5>Willkommen bei Energ.io</h5>
<br><br>
<ion-input class="input1" type="email" placeholder="Email:"></ion-input>
<br>
<ion-input class="input2" type="password" placeholder="Passwort:"></ion-input>
<br>
<ion-input class="input2" type="password" placeholder="Wiederholung Passwort:"></ion-input>
<br>
<ion-button class="btn">REGISTRIEREN</ion-button>
<br>
<p class="para">DU HAST BEREITS EINEN ACCOUNT? <a class="aaa">LOG IN</a></p>

</ion-content>
