img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3, p{
    text-align: center;
}

p{
    margin-top: -10px;
}

.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    --background: linear-gradient(180deg, rgba(204,236,49) 0%, rgba(204,236,49) 13.5%, rgba(204,236,49) 33.33%, rgba(96,213,53) 100%) !important;
}

a{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #888888;
    opacity: 0.5;
}