<ion-header>
  <div id="header">
    <ion-toolbar>
      <ion-title>
        Guthaben:
      </ion-title>
      <ion-buttons>
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
    <h4>Gesamtguthaben:</h4>
  </div>
</ion-header>
<ion-content>

  <div id="topSection">
    <h3>289,00 &euro;</h3>
    <h3>    <small>Aktueller Stand</small></h3>
    <img src="assets/images/meter.png" alt="">
    <p>Das Guthaben ist ab einenm</p>
    <p>Betrag in Höhen von : 50.00 &euro;</p>
    <p>abbunchbar.</p>
    <img src="assets/images/icon1.png" alt="">
  </div>

  <br>
  <div class="checks-div">
      <ion-row>
          <ion-icon name="radio-button-off" class="checkbox"></ion-icon>
       <p class="checkbox-para" text-wrap>Guthaben auszahlen per:</p>
       <img src="assets/images/paypal.png" alt="" style="width: 60px; height: 20px; position: relative; top: 20px; left: 20%;">
       <ion-icon class="thirdright" name="arrow-down"></ion-icon>
     </ion-row>
    </div>

    <div class="checks-div">
        <ion-row>
            <ion-icon name="radio-button-off" class="checkbox"></ion-icon>
         <p class="checkbox-para" text-wrap>Guthaben auszahlen per:</p>
         <img src="assets/images/klarna.png" alt="" style="width: 60px; height: 20px; position: relative; top: 20px; left: 20%;">
         <ion-icon class="thirdright" name="arrow-down"></ion-icon>
       </ion-row>
      </div>

      <br>
      <ion-button class="btn" routerLink="/dashboard/menu">ZUM DASHBOARD</ion-button>



</ion-content>